@import url(http://weloveiconfonts.com/api/?family=fontawesome);

* {
	font-family: helvetica, sans-serif;
	color: #424242;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

body {
	margin: 0;
	display: block;
}

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
  font-size: 1.2em;
  opacity: .75;
  position: relative;
  top: 3px;
}

[class*="fontawesome-"]:hover {
	color: black;
}

.top {
	width: 100%;
}

.nav, .left, .right {
	margin: 0;
	padding: 0;
}

li a {
	font-size: .8em;
}

.nav {
	position: absolute;
	right: 15px;
	top: 3px;
}

.nav li {
	display: inline;
	margin: 0 5px;
	padding: 0 4px;
}

.main {
	width: 100%;
	float: none;
	display: block;
}

.logo {
	width: 267px;
	margin: 186px auto 20px auto;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40px;
	background-color: #f2f2f2;
	border-top: 1px solid #e6e6e6;
}

.footer li {
	opacity: .8;
}

.left {
	float: left;
}

.right {
	float: right;
}

.right li, .left li{
	display: inline;
	margin: 0 10px;
	padding: 0 10px;
}

.left, .right {
	margin: 12px 10px;
}

input {
	display: block;
	width: 500px;
	height: 26px;
	margin: 0 auto 15px auto;
	border: 1px solid #D8D8D8;
	border-top: 1px solid #BDBDBD;
}

input:focus {
	border: 1px solid #0080FF;
	outline: none;
}

button {
	padding: 8px;
	background-color: #f2f2f2;
	border: 1px solid #e6e6e6;
	font-weight: bold;
	margin: 0 6px;
}

button:hover {
	border: 1px solid #D8D8D8;
	box-shadow: 0 1px 3px 0 #e6e6e6;
}

.buttons {
	display: block;
	width: 240px;
	margin: 0 auto;
}

.nav li img {
	position: relative;
	top: 12px;
}